.user-view {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.user-view > div {
  position: relative;
  /* height: 80vh; */
}

@media (orientation: landscape) {
  .user-view {
    grid-template-columns: 0.3fr 1fr;
  }
}

.user-view .user-view__avatar {
  text-align: center;
}

.user-view .user-view__avatar p {
  font-size: 20px;
  font-weight: bold;
}

.user-view__avatar-img-container {
  display: grid;
  place-content: center;
}

.user-view__avatar-img-container img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.skeleton-gallery-image {
  width: 100%;
  height: 70vh;
  box-shadow: 0 1px 2.5px 0.5px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  position: relative;
  overflow: hidden;
  background: #eee;
  background: linear-gradient(90deg, #d3d2d2 8%, #f5f5f5 18%, #d3d2d2 33%);
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
