.gallery-form {
  margin-bottom: 2rem;
  display: grid;
  grid-gap: 1rem;
}

@media (orientation: landscape) {
  .gallery-form {
    grid-template-columns: 1fr 0.4fr;
  }
}

.gallery-wrapper h3 {
  margin: 0 !important;
  grid-column: 1 / -1;
  font-size: 15px;
}

.gallery-form small {
  display: block;
}

.gallery-form button {
  display: block;
  width: 100%;
  color: #fff;
  background-color: var(--primary-bg);
  border: none;
  padding: 5px 20px;
  border-radius: 3.5px;
  transition: background-color 0.25s ease-out;
}

.gallery h3 {
  padding-left: 10px;
}

label.imageInput-label {
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 10px;
  position: relative;
  width: 100%;
}

label img {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label.titleInput-label {
  width: 100%;
}

#titleInput {
  width: 100%;
  padding: 3px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

#fileInput {
  visibility: hidden;
}

.gallery-wrapper {
  display: grid;
}

@media (orientation: landscape) and (min-width: 1024px) {
  .gallery-wrapper {
    grid-template-columns: 1fr 0.6fr;
  }
}

.gallery-wrapper .gallery-wrapper__grid {
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.gallery-wrapper__grid img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  cursor: pointer;
}
