.home-users {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

@media (orientation: landscape) {
  .home-users {
    grid-template-columns: repeat(4, 1fr);
  }
}
