.navbar {
  padding: 5px;
}

.navbar-loading {
  position: relative;
}

.navbar-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
}

.navbar-not-logged-in {
  background-color: var(--secondary-bg);
}

.navbar-logged-in {
  background-color: var(--primary-bg);
}

.navbar-list {
  max-width: 90%;
  margin: 0 auto;
  list-style: none outside;
  display: flex;
  align-items: center;
}

.navbar-list li {
  overflow: hidden;
  border-radius: 3.5px;
  transition: background-color 0.25s ease-out, width 2s ease-in-out;
  width: auto;
}

.navbar-list li a {
  height: 100%;
  width: 100%;
  padding: 5px 20px;
  display: block;
  color: #fff;
  transition: color 0.25s ease-out;
}

.navbar-list li svg {
  transition: background-color 0.25s ease-out;
}

.navbar-list .search-li {
  cursor: pointer !important;
}

/* @media (orientation: landscape) and (min-width: 1024px) {
  .search-li {
    width: 280px;
  }
} */

.navbar-list li:not(.no-hover-effect):hover {
  background-color: #fff;
  color: var(--primary-bg);
  fill: var(--primary-bg);
}

.navbar-list li:hover a {
  color: var(--primary-bg);
}

.navbar-list li:hover svg {
  fill: var(--primary-bg);
}

.navbar-list .logout-link {
  background-color: #f2f2f2;
}

.navbar-list .logout-link a {
  color: var(--primary-bg);
}
